VITE_API_URL=https://
VITE_HANDSHAKE_URL=https://
VITE_HANDSHAKE_API_KEY=
VITE_ENV=development
VITE_HOLIDAY_URL=https://
VITE_QUEUE_URL=https://
VITE_THRESHOLD_CONFIGURATION_URL=https://
VITE_CALLS_API_URL=https://
VITE_DISABLE_EDIT_BUSSINESS_HOURS=true
VITE_DISABLE_EDIT_END_OF_DAY=true
VITE_DISABLE_EDIT_HOLIDAYS=true
VITE_DISABLE_EDIT_QUEUE=true
VITE_DISABLE_EDIT_THRESHOLD=true
VITE_DISABLE_EDIT_QUEUECONFIGURATION=true
VITE_CALLBACK_PAGINATION_SIZE=1000
